
            *{
                box-sizing:border-box;
                font-size:medium !important;
                line-height:1.25;
            }
            
                
            * body {
                
                background: ghostwhite;
            }
            
            .sizebox{
                width: 100%;
                padding: 5px 100px 5px 81px;
                margin: 0px 0px 10px 0px;
            }
            
            
            div{
               padding: 10px;
               background: ghostwhite;
            }
            .stylebutton{
                width:100%;
                background-color: aquamarine;
                border: 1px solid aquamarine;
                height:40px;
                font-size: 100%;
                text-align: center;
            }
            
            .clear{
                clear:both;
                content:"";
                display:block;
                padding: 0;
                margin: 0;
            }
            .contain{    
                padding:0;
                margin: 0; 
            }
            .horizon{
                color:gray;
            }
            .reddem{
                border: 1px solid #000;
                background-color:rgb(77, 75, 75);
                color:#ffff;
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            
            .boxright{
               float: right;
               
            }
            .collapse{
                border-bottom: 1px solid gray;
                background-color: azure;
                border-radius:4px;  
            }
            .boxleft{
                float:left;

            }
            .option{
                margin-bottom: 0.5;
                margin-top:0;
            }
            .padding{
                padding: 0;
            }
            input.width{
                max-width:431px;
            }
            input.border{
                border-style: round;
                border: 1px solid black;
                border-radius:12px;
                margin-right:inherit;
            }
            select.border{
                border-style: round;
                border: 1px solid black;
                border-radius:12px;

            }
            .table, .promo, .containpromo{
                border: 1px solid gray;
                background-color: azure;
                border-radius:4px; 
                
            }  
            
       