
            *  {
                box-sizing:border-box;
                background: ghostwhite;
            }
            .sizebox3in1{
                width:240px;
                height:30px;
            }
            .sizebox2in1{
                width: 100%;
                padding: 5px 5px 0px 73px;
            }
            .sizebox{
                width: 100%;
                height: 30px;
            }
            div{
               padding: 10px;
               background: ghostwhite;
            }
            .box1{
                width:30%;
                float:right;
                background: ghostwhite;;
            }
            .box2{
                width:70%;
                float:right;
                background: ghostwhite;;
                
            }
            .stylebutton{
                width:100%;
                background-color: aquamarine;
                border: 1px solid aquamarine;
                height:40px;
                font-size: 100%;
                text-align: center;
            }
            
            .fixfloat::after{
                clear:both;
                content:"";
                display:block;
            }
            .horizon{
                color:gray;
            }
            .styleExCVV
            {
                width:180px;
                height:30px;
            }
            .reddem{
                border: 1px solid black;
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            li{
                display:initial;
            }
            .number{
               float: right;
            }
            .max{
                width:100%;
            }
            .collapse{
                border: 1px solid gray;
                background-color: azure;
                border-collapse: collapse;  
            }
               
            
       